@use "sass:map";
@use 'src/styles/variables' as var;

footer {
  @media only screen and (max-width: map.get(var.$breakpoints, 's')) {
    margin-bottom: 5rem;
  }

  a {
    line-height: 1.25rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    &:hover {
      cursor: pointer;
      color: map.get(var.$colors, 'grey', '100');
    }
  }

  .footer-kitchen-sink {
    padding: 2.5rem 0.75rem;
    display: grid;
    justify-content: center;
    background: map.get(var.$colors, 'background', 'dark');
    grid-template-rows: 6.625rem 5.5rem auto;

    @media only screen and (max-width: map.get(var.$breakpoints, 'm')) {
      display: flex;
      flex-direction: column;
    }
  
    color: map.get(var.$colors, 'grey', '400');
    line-height: 1.5rem;
    font-weight: map.get(var.$font-weights, 'regular');
  }

  .links {
    grid-row: 1 / span 3;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.75rem;

    @media only screen and (max-width: map.get(var.$breakpoints, 'm')) {
      order: 2;
    }
  }

  .links-column {
    width: 12.5rem;
    flex-direction: column;

    @media only screen and (max-width: map.get(var.$breakpoints, 'm')) {
      width: 10.5rem;
    }

    a {
      display: flex;
      margin: 0.5rem 0;
    }
  }

  .links-row {
    margin-bottom: 1.75rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
  .grid-item {
    @media only screen and (max-width: map.get(var.$breakpoints, 'm')) {
      margin-bottom: 2rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .subscribe-to-newsletter {
    grid-row: 1;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: map.get(var.$breakpoints, 'm')) {
      order: 0;
    }
  }

  .subscribe-input {
    display: flex;
    height: 2.5rem;

    input {
      background: map.get(var.$colors, 'background', 'extraDark');
      border: 1px solid map.get(var.$colors, 'grey', '600');
      box-sizing: border-box;
      border-radius: 0.25rem 0 0 0.25rem;
      height: 2.5rem;
      width: 16.125rem;
      color: map.get(var.$colors, 'grey', '400');
      padding: 5px 8px;

      @media only screen and (max-width: map.get(var.$breakpoints, 'xs')) {
        width: 100%;
      }

      &:focus {
        background: map.get(var.$colors, 'background', 'focused');
        outline: none;
      }
    }

    button {
      border-radius: 0 0.25rem 0.25rem 0;
      height: 2.5rem;
      width: 7rem;
      background: map.get(var.$colors, 'blue', 'primary');
      color: map.get(var.$colors, 'grey', '100');
      font-size: map.get(var.$font-sizes, 's');
      &:hover {
        background: map.get(var.$colors, 'blue', 'dark');
        cursor: pointer;
      }
    }
  }

  .faq {
    grid-row: 2;
    @media only screen and (max-width: map.get(var.$breakpoints, 'm')) {
      order: 1;
    }
  }

  .faq-contact-link {
    img {
      padding-left: 0.688rem;
    }
  }

  .social-media {
    align-items: flex-start;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    @media only screen and (max-width: map.get(var.$breakpoints, 'm')) {
      order: 3;
      gap: 2rem;
      flex-direction: column;
      align-items: center;
    }

    img {
      cursor: pointer;
    }

    div {
      display: flex;
      gap: 1rem;
      
      .like-button {
        height: 1.25rem;
      }
    }
  }

  .footer-skinny {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 150%;
    font-weight: map.get(var.$font-weights, 'regular');
    background: map.get(var.$colors, 'background', 'extraDark');
    color: map.get(var.$colors, 'grey', '400');

    @media only screen and (max-width: map.get(var.$breakpoints, 'm')) {
      padding-bottom: 1.5rem;
    }
  }

  .container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    flex-grow: 1;

    div {
      padding: 0 1rem;
    }

    @media only screen and (max-width: map.get(var.$breakpoints, 'm')) {
      gap: 1rem;
      text-align: center;
      flex-direction: column-reverse;
    }
  }

  .language-select {
    display: flex;
    font-size: 17px;
    justify-content: flex-end;
    gap: 0.875rem;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }

  .end {
    flex: 1;
    display: flex;
  }
}
