@use "sass:map";
@use '../styles/variables.scss' as var;

.order-summary {
  background: map.get(var.$colors, 'background', 'light');
  display: flex;
  align-items: center;
  flex-direction: column;

  .centered {
    padding: 0 75px;
    margin-bottom: 2.5rem;
    .section:first-of-type {
      padding-top: 0;
    }
    @media only screen and (max-width: map.get(var.$breakpoints, 's')) {
      padding: 0 1rem;
    }
  }

  h1 {
    margin: 5rem 0;
    line-height: 100%;

    @media only screen and (max-width: map.get(var.$breakpoints, 'l')) {
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      font-size: 1.75rem;
      line-height: 35px;
    }
  }

  .section {
    line-height: map.get(var.$line-heights, 'xl');
    padding: 2rem 0;
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    border-bottom: 1px solid  map.get(var.$colors, 'grey', '300');

    @media only screen and (max-width: map.get(var.$breakpoints, 's')) {
      padding: 1rem 0;
    }
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    color: map.get(var.$colors, 'grey', '700');
    justify-content: space-between;
  }

  .row-value {
    color: map.get(var.$colors, 'grey', '400');
  }

  %lite-text {
    color: map.get(var.$colors, 'grey', '400');
    font-weight: map.get(var.$font-weights, 'regular');
  }

  .change-payment {
    font-weight: map.get(var.$font-weights, 'regular');
    color: map.get(var.$colors, 'blue', 'primary');
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }

  .ending-with {
    @extend %lite-text;
  }

  .sale-disclaimer {
    @extend %lite-text;
    padding: 2rem 0;
  }

  .place-order-disclaimer {
    color: #b6b6b6;
    text-align: center;
    padding-top: 1rem;
    line-height: 19.2px;
    font-weight: 500;
    a {
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .promo-code {
    margin-top: 2rem;
    @media only screen and (max-width: map.get(var.$breakpoints, 's')) {
      margin-top: 1rem;
    }
  }

  button {
    width: 100%;
    height: 48px;
    border-radius: 50px;
    background: map.get(var.$colors, 'blue', 'primary');
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: map.get(var.$colors, 'grey', '100');
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      background: map.get(var.$colors, 'blue', 'dark');
    }
  }
}